body {
    height: 90vh;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    width: 10vh;
    height: 50vh;
    background-color: #b1060f;
    position: relative;
}
h1::before {
    width: 10vh;
    height: 50vh;
    content: "";
    position: absolute;
    background-color: #e50913;
    transform: skew(20deg);
    left: 9vh;
    box-shadow: 0 0 5vh 0.5vh black;
}
h1::after {
    width: 10vh;
    height: 50vh;
    content: "";
    position: absolute;
    background-color: #b1060f;
    left: 18vh;
    z-index: -1;
    
}
/*
References: https://codepen.io/antoniasymeonidou/pen/vYgmERw?editors=0100
*/
